rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isOwner(userID) {
      return request.auth != null && request.auth.uid == userID;
    }

    match /users/{userID}/{allPaths=**} {
      allow read: if isOwner(userID);
      allow delete: if isOwner(userID);
      allow create, update: if isOwner(userID)
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('(application|text|image)/.*');
    }
  }
}
