.DS_Store
.build/
.swiftpm/
DerivedData/
xcuserdata/
.gemini/

backend/functions/lib/
backend/functions/node_modules/
node_modules/

.firebaserc
.env
.env.*
!.env.example
!.env.template
!*.env.example
!*.env.template
*.log

GoogleService-Info.plist
Secrets.xcconfig
