PRODUCT_BUNDLE_IDENTIFIER = com.langqi.aicalendarapp
APP_DISPLAY_NAME = AI Efficiency
APP_URL_SCHEME = aicalendarapp
APS_ENVIRONMENT = development
IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 5.0
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0
API_BASE_URL =
AI_API_BASE_URL =
REVENUECAT_API_KEY =
SUPERWALL_API_KEY =
GOOGLE_CLIENT_ID =
GOOGLE_REVERSED_CLIENT_ID =
PRIVACY_POLICY_URL =
TERMS_OF_SERVICE_URL =
#include? "Secrets.xcconfig"
